dataset
out_tests
saves
src/models/UNet/.ipynb_checkpoints
src/support/.ipynb_checkpoints
src/support/__pycache__
src/tests/UNet/.ipynb_checkpoints
src/tests/AEConnect/.ipynb_checkpoints
src/tests/ConvSim/.ipynb_checkpoints
src/tests/Ensemble/.ipynb_checkpoints
src/tests/ResNet/.ipynb_checkpoints
*.pyc
*.pyc
*.pyc
src/models/ResNet/__pycache__/ResnetBatchE.cpython-39.pyc
src/models/ResNet/.ipynb_checkpoints/0100_1000-64-resnet-h-checkpoint.ipynb
src/models/ResNet/__pycache__/ResnetBatchE.cpython-39.pyc
*.pyc
src/models/AEConnections/__pycache__/AEConnectionsF.cpython-39.pyc
src/models/ResNet/__pycache__/ResnetBatchE.cpython-39.pyc
src/models/AEConnections/.ipynb_checkpoints/0001_0010-64-aeconnect-xe4-checkpoint.ipynb
src/models/AEConnections/.ipynb_checkpoints/0010_1000-64-aeconnect-xe4-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0001_0010-64-convsim-xc3-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0001_0100-64-convsim-xc3-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0010_1000-64-convsim-xc3-checkpoint.ipynb
src/models/ResNet/.ipynb_checkpoints/0010_1000-64-resnet-xh-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0001_0100-64-convsim-xc4-checkpoint.ipynb
src/models/AEConnections/.ipynb_checkpoints/0001_0010-64-aeconnect-xxe4-checkpoint.ipynb
src/models/AEConnections/.ipynb_checkpoints/0001_0100-64-aeconnect-xxe4-checkpoint.ipynb
src/models/AEConnections/.ipynb_checkpoints/0010_1000-64-aeconnect-xxe4-checkpoint.ipynb
src/models/AEConnections/.ipynb_checkpoints/0100_1000-64-aeconnect-xxe4-checkpoint.ipynb
src/models/AEConnections/__pycache__/AEConnectionsF.cpython-39.pyc
src/models/ConvSim/.ipynb_checkpoints/0001_0010-64-convsim-xxc3-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0001_0100-64-convsim-xxc4-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0010_1000-64-convsim-xxc3-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0100_1000-64-convsim-xxc3-2-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0100_1000-64-convsim-xxc3-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0100_1000-64-convsim-xxc4-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0100_1000-64-convsim-xxc5-checkpoint.ipynb
src/models/AEConnections/__pycache__/AEConnectionsF.cpython-39.pyc
src/models/AEConnections/__pycache__/AEConnectionsF.cpython-39.pyc
src/models/ResNet/.ipynb_checkpoints/0100_1000-64-resnet-xh-2-checkpoint.ipynb
src/models/ResNet/.ipynb_checkpoints/0100_1000-64-resnet-xh-checkpoint.ipynb
src/models/ResNet/.ipynb_checkpoints/0100_1000-64-resnet-xxh-checkpoint.ipynb
src/models/ResNet/__pycache__/ResnetBatchE.cpython-39.pyc
src/models/UNet/__pycache__/UnetI.cpython-39.pyc
src/support/ensemble/.ipynb_checkpoints/classification-checkpoint.ipynb
src/support/ensemble/.ipynb_checkpoints/classification-vgg-checkpoint.ipynb
src/support/ensemble/.ipynb_checkpoints/classification-checkpoint.ipynb
src/support/ensemble/.ipynb_checkpoints/classification-vgg-unet-2-checkpoint.ipynb
src/support/ensemble/.ipynb_checkpoints/classification-vgg-unet-checkpoint.ipynb
src/support/ensemble/.ipynb_checkpoints/classification-vgg16-1-checkpoint.ipynb
src/support/ensemble/.ipynb_checkpoints/classification-vgg16-2-checkpoint.ipynb
src/models/AEConnections/.ipynb_checkpoints/0100_1000-64-aeconnect-xe4-2-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0001_0100-64-convsim-xxc5-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0100_1000-64-convsim-xxc3-3-checkpoint.ipynb
src/models/ResNet/.ipynb_checkpoints/0001_0010-64-resnet-xxh-checkpoint.ipynb
src/models/ResNet/.ipynb_checkpoints/0001_0100-64-resnet-xxh-checkpoint.ipynb
src/models/ResNet/.ipynb_checkpoints/0010_1000-64-resnet-xxh-checkpoint.ipynb
src/models/ResNet/.ipynb_checkpoints/0100_1000-64-resnet-xxh-2-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0100_1000-64-convsim-xxc3-4-checkpoint.ipynb
src/models/ConvSim/.ipynb_checkpoints/0100_1000-64-convsim-xxc3-5-checkpoint.ipynb
